---
import PostPreview from "../components/PostPreview.astro";
import PageLayout from "../layouts/PageLayout.astro";
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<PageLayout
  title="Dawid Kurek private blog"
  description="Technical blog for developers"
>
  {
    posts.map((post) => (
      <div class="mb-8">
        <PostPreview
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          pubdate={post.frontmatter.pubDate}
          url={post.url}
        />
      </div>
    ))
  }
</PageLayout>
