---
import PostPreview from "../components/PostPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout>
  {
    posts.map((post) => (
      <div class="mb-16">
        <PostPreview
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          pubdate={post.frontmatter.pubDate}
          url={post.url}
        />
      </div>
    ))
  }
</BaseLayout>
