---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About me" description="Job description">
  <div class="flex flex-col text-justify h-full dark:text-slate-200">
    <h2 class="text-2xl font-bold mb-5">About Me</h2>
    <p class="mb-5">
      As a web developer, I bring a passion for creating intuitive and engaging
      user experiences to the table. I have experience in various front-end
      technologies such as HTML, CSS, JavaScript, and React, as well as back-end
      development with Java.
    </p>
    <p class="mb-5">
      My technical skills are complemented by a strong understanding of design
      principles, design patterns and a commitment to creating accessible and
      responsive websites. I have a track record of delivering successful
      projects, both independently and as part of a team.
    </p>
    <p class="mb-5">
      I am highly organized and able to manage multiple tasks and priorities
      while meeting tight deadlines. I also have excellent problem-solving
      skills. In addition to my technical expertise, I am a clear communicator
      and an active listener. I believe in working closely with clients and
      stakeholders to understand their requirements and to ensure that the final
      product exceeds their expectations.
    </p>
    <p class="mb-5">
      I am always eager to learn and stay up-to-date with the latest industry
      trends and technologies. I am a fast learner and highly adaptable, making
      me a valuable asset to any team. Overall, I am a driven and
      detail-oriented web developer with a passion for building high-quality,
      user-friendly websites. I look forward to bringing my skills and
      experience to your next project.
    </p>
  </div>
</PageLayout>
