---
import ThemeButton from "./ThemeButton.astro";
---

<header>
  <div class="flex flex-row justify-between items-center">
    <a href="/">
      <h2 class="text-sky-500 font-bold">PROACTIVEBIT</h2>
    </a>
    <ThemeButton />
  </div>
  <nav></nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: #444;
  }
</style>
