---
---

<nav class="flex flex-col gap-4 mt-8 dark:text-slate-200">
  <a class="active" href="/blog">Blog</a>
  <a href="/portfolio">Portfolio</a>
</nav>

<script>
  const navLinks = document.querySelectorAll(
    "nav a"
  ) as unknown as HTMLAnchorElement[];

  navLinks.forEach((link) => {
    link.classList.remove("active");

    // `slice` here to remove the first `/` in pathname
    const currentPath = window.location.pathname.slice(1);

    // `link.href` returns a whole url, such as: "https://somedomain.com/posts" and we only need the last part
    const hrefArray = link.href.split("/");
    const thisPath = hrefArray[hrefArray.length - 1];

    if (currentPath === thisPath) {
      link.classList.add("active");
    }
  });
</script>

<style lang="css" is:global>
  nav > a {
    @apply hover:text-sky-500 underline-offset-4 decoration-sky-500 decoration-solid decoration-2;
  }
  nav > .active {
    @apply underline;
  }
</style>
