---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).replace(/\//, "");
---

<nav class="flex flex-col gap-4 mt-8 dark:text-slate-200">
  <a class={currentPath === "blog" ? "active" : ""} href="/blog">Blog</a>
  <a class={currentPath === "portfolio" ? "active" : ""} href="/portfolio"
    >About Me</a
  >
</nav>

<style lang="css">
  nav > a {
    @apply hover:text-sky-500 underline-offset-4 decoration-sky-500 decoration-solid decoration-2;
  }
  nav > .active {
    @apply underline;
  }
</style>
