---
import Breadcrumb from "../components/Breadcrumb.astro";
import Footer from "../components/Footer.astro";
import ThemeButton from "../components/ThemeButton.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
  };
}

const {
  content: { title, description, pubDate },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="px-5 sm:px-12 pt-5 md:pt-10">
    <div class="max-w-7xl mx-auto">
      <div class="max-w-4xl mx-auto">
        <div class="mb-4">
          <Breadcrumb />
        </div>
        <article>
          <div class="flex justify-between items-center">
            <h1 class="text-3xl font-bold dark:text-slate-200 mb-2">
              {title}
            </h1>
            <ThemeButton />
          </div>
          {
            pubDate && (
              <time class="text-gray-500">
                {new Date(pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            )
          }
          <div class="mt-9">
            <slot />
          </div>
        </article>
      </div>
    </div>
  </div>
  <Footer />
</BaseLayout>

<style lang="css" is:global>
  article {
    @apply dark:text-slate-200;
  }
  article p {
    @apply mb-5 mt-5 text-justify;
  }
  article h2 {
    @apply text-2xl font-bold  mb-5;
  }
  article pre.astro-code {
    @apply p-3 rounded-lg;
  }
  article pre.astro-code > code {
    background-color: #0d1117;
  }
  article code {
    @apply inline px-1 rounded-md no-underline  bg-card dark:bg-card-dark  py-px;
  }
  article ul {
    @apply list-disc ml-8;
  }
  article ol {
    @apply list-decimal ml-8;
  }
  article li {
    @apply my-3;
  }
</style>
